<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="border: 10cm;">
        <h3>Contact Us</h3>
     <form action="/shop/success">
     Name : <input type="text"/>
     Email : <input type="email"/>
     Phone : <input type="tel"/>
     Time to Call :
     <input type="date"/> <input type="time"/>
     <button type="submit">Submit</button>
    </form>

    </div>
    
</body>
</html>